{% load static %}
<!doctype html>
<html lang="en">
    <head>
        
        {% if title %}
        <title>{{ title }}</title>
        {% endif %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
<body>
    <form class="form-signin" action="" method="POST">
        <div class="text-center mb-4">
          <img class="mb-4" src="http://ainextengineering.com/assets/img/logo1.png">
        </div>
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags}} ">
                {{ message}}
              </div>
            {% endfor %}
        {% endif%}
        
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email"  id="inputEmail" class="form-control text-center" placeholder="Email address" required>
        </div>
      
        <div class="form-group">
          <input type="password" name="password" id="inputPassword" class="form-control text-center" placeholder="Password" required>
        </div>
      
        <div class="checkbox mb-3 text-center">
            <label>
                <a href="">Forgot password?</a>
            </label>
          |
            <label>
                <a href="{% url 'admin-register' %}">Register here</a>
            </label>
        </div>
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
    </form>

    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>